@font-face {
    font-family: 'Plateia';
    src: url('../font/Plateia-Bold.ttf') format('ttf'),
				url('../font/Plateia-Bold.woff2') format('woff2'),
        url('../font/Plateia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Antar';
    src: url('../font/Antar.ttf') format('ttf'),
				url('../font/Antar.woff2') format('woff2'),
        url('../font/Antar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	overflow: hidden;
	cursor: move;
}
div {
	z-index: 10;
	color: #fff;
	font-family: monospace;
	text-align: center;
	margin: 10px;
	width: 100%;
}
label, input {
	cursor: pointer;
}
p {
	font-size: 1rem;
	font-family: monospace;
}
h1 {
	font-family: monospace;
}
#clock {
	position: absolute;
	bottom: 5px; left: 0;
	width: 100px;
}
#clock a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 150ms ease-in-out;
	-moz-transition: color 150ms ease-in-out;
	-ms-transition: color 150ms ease-in-out;
	-o-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;
}
#clock a:hover {
	color: #656565;
}
#album {
	position: absolute;
	bottom: 5px; right: 0;
	width: 200px;
	color: #fff;
}
#album a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 150ms ease-in-out;
	-moz-transition: color 150ms ease-in-out;
	-ms-transition: color 150ms ease-in-out;
	-o-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;
}
#album a:hover {
	color: #656565;
}
#prompt {
	position: absolute;
}
.intro {
	background: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: 9999;
  cursor: auto;
	left: -10px;
	top: -10px;
	padding-right: 40px;
}
.intro .text {
  	text-align: left;
}
.intro .text h1 {
	color: #eee;
}
.intro .text p {
	color: #b3b3b3;
}
.intro .text .second {
	margin: 20px 0 10px 0;
}
.intro .text .wiki {
	color: #b3b3b3;
	-webkit-transition: color 150ms ease-in-out;
	-moz-transition: color 150ms ease-in-out;
	-ms-transition: color 150ms ease-in-out;
	-o-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;
}
.intro .text .wiki:hover {
	color: #656565;
	text-decoration: none;
}
.row {
	position: relative;
	display: flex;
	width: 96%;
}
.column {
  flex: 1;
	width: 80%;
}
.row.main {
	margin-top: 40px;
}
.row.main .column {
	padding-right: 40px;
}
.row.main p span {
	cursor: pointer;
	text-decoration: underline;
	-webkit-transition: color 250ms ease-in-out;
	-moz-transition: color 250ms ease-in-out;
	-ms-transition: color 250ms ease-in-out;
	-o-transition: color 250ms ease-in-out;
	transition: color 250ms ease-in-out;
	display: inline-block;
}
.row.main p span:hover {
	color: #fff;
}
.intro .topbar h1,
.intro .topbar p {
	margin: 0;
	font-size: 2.4rem;
	text-transform: uppercase;
}
.intro .topbar .column:nth-child(1) {
	text-align: left;
}
.intro .topbar .column:nth-child(2) {
	text-align: center;
}
.intro .topbar .column:nth-child(3) {
	text-align: right;
}
.intro .play {
	background: white;
	color: black;
	position: absolute;
	width: 200px;
	bottom: 98px;
	right: 0;
	left: 0;
	margin: 0 auto;
	padding: 2px 0 10px;
	text-decoration: none;
	text-align: center;
	font-family: "Plateia", sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	display: inline-block;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
.intro .play.glow {
	-webkit-box-shadow: 0px 0px 25px 3px rgba(133,133,133,1);
	-moz-box-shadow: 0px 0px 25px 3px rgba(133,133,133,1);
	box-shadow: 0px 0px 25px 3px rgba(133,133,133,1);
}
.intro .play.glow:hover {
	-webkit-box-shadow: 0px 0px 25px 3px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 25px 3px rgba(255,255,255,1);
	box-shadow: 0px 0px 25px 3px rgba(255,255,255,1);
	background: black;
	color: white;
}
.intro .loading {
	color: #b3b3b3;
}
.tp-logo {
	font-family: 'Antar', sans-serif;
	font-size: 10rem;
	letter-spacing: -14px;
	line-height: 0.65;
	text-shadow: 0 0 5px rgba(255, 255, 255, 0.35), 0 0 10px rgba(255, 255, 255, 0.35), 0 0 15px rgba(255, 255, 255, 0.35), 0 0 20px rgba(43,217,207,0.22), 0 0 30px rgba(43,217,207,0.12);
}
.tp-logo-wrap {
	position: absolute;
	left: -80px;
	right: 0;
	bottom: 80px;
	margin: 80px auto 0;
}

@media screen and (max-width: 768px) {
	.topbar {
		width: 94%;
	}
	.row.main {
		display: none;
	}
	.topbar p, .topbar h1 {
		font-size: 1.3rem !important;
	}
	.tp-logo-wrap {
		left: -51px;
		bottom: 140px;
	}
	.tp-logo {
		font-size: 5.5rem;
		left: 40px;
	}
	.intro .play {
		bottom: -100px;
	}
}

@media only screen and (max-width: 320px) {
	.tp-logo {
		font-size: 4.8rem;
		left: 40px;
	}
}
