@font-face {
    font-family: 'Plateia';
    src: url('/assets/font/Plateia-Bold.ttf') format('ttf'),
				url('/assets/font/Plateia-Bold.woff2') format('woff2'),
        url('/assets/font/Plateia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	overflow: hidden;
	cursor: move;
}
div {
	z-index: 10;
	color: #fff;
	font-family: monospace;
	text-align: center;
	margin: 10px;
	width: 100%;
}
label, input {
	cursor: pointer;
}
p {
	font-size: 1rem;
	font-family: monospace;
}
h1 {
	font-family: monospace;
}
#clock {
	position: absolute;
	bottom: 5px; left: 0;
	width: 100px;
}
#clock a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 150ms ease-in-out;
	-moz-transition: color 150ms ease-in-out;
	-ms-transition: color 150ms ease-in-out;
	-o-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;
}
#clock a:hover {
	color: #656565;
}
#album {
	position: absolute;
	bottom: 5px; right: 0;
	width: 200px;
	color: #fff;
}
#album a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 150ms ease-in-out;
	-moz-transition: color 150ms ease-in-out;
	-ms-transition: color 150ms ease-in-out;
	-o-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;
}
#album a:hover {
	color: #656565;
}
.intro {
	background: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: 9999;
  cursor: auto;
	left: -10px;
	top: -10px;
	padding-right: 40px;
}
@media screen and (max-width: 768px) {
  .intro .text { width: 300px !important }
  .intro .play { width: 300px !important; left: 0 !important }
  .intro .warning { width: 300px !important; left: 0 !important }
}
.intro .text {
  	text-align: left;
}
.intro .text h1 {
	color: #eee;
}
.intro .text p {
	color: #b3b3b3;
}
.intro .text .second {
	margin: 20px 0 10px 0;
}
.intro .text .wiki {
	color: #b3b3b3;
	-webkit-transition: color 150ms ease-in-out;
	-moz-transition: color 150ms ease-in-out;
	-ms-transition: color 150ms ease-in-out;
	-o-transition: color 150ms ease-in-out;
	transition: color 150ms ease-in-out;
}
.intro .text .wiki:hover {
	color: #656565;
	text-decoration: none;
}
.intro .play {
	color: #eee;
	position: absolute;
	width: 200px;
	bottom: 40px;
	right: 80px;
	margin: 0;
	padding: 2px 0 10px;
	text-decoration: none;
	text-align: center;
	font-family: "Plateia", sans-serif;
	font-size: 24px;
	display: inline-block;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-transition: all 250ms ease-in-out;
-moz-transition: all 250ms ease-in-out;
-ms-transition: all 250ms ease-in-out;
-o-transition: all 250ms ease-in-out;
transition: all 250ms ease-in-out;
}
.intro .play.glow {
	-webkit-box-shadow: 0px 0px 25px 3px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 25px 3px rgba(255,255,255,1);
	box-shadow: 0px 0px 25px 3px rgba(255,255,255,1);
}
.intro .play.glow:hover {
	-webkit-box-shadow: 0px 0px 25px 3px rgba(133,133,133,1);
	-moz-box-shadow: 0px 0px 25px 3px rgba(133,133,133,1);
	box-shadow: 0px 0px 25px 3px rgba(133,133,133,1);
	background: white;
	color: black;
}
.intro .loading {
	color: #b3b3b3;
}
.row {
	position: relative;
	display: flex;
	width: 96%;
}
.column {
  flex: 1;
	width: 80%;
}
.row.main {
	margin-top: 40px;
}
.row.main .column {
	padding-right: 40px;
}
.row.main p span {
	cursor: pointer;
	text-decoration: underline;
	-webkit-transition: color 250ms ease-in-out;
-moz-transition: color 250ms ease-in-out;
-ms-transition: color 250ms ease-in-out;
-o-transition: color 250ms ease-in-out;
transition: color 250ms ease-in-out;
}
.row.main p span:hover {
	color: #fff;
}
.intro .topbar h1,
.intro .topbar p {
	margin: 0;
	font-size: 2.4rem;
	text-transform: uppercase;
}
.intro .topbar .column:nth-child(1) {
	text-align: left;
}
.intro .topbar .column:nth-child(2) {
	text-align: center;
}
.intro .topbar .column:nth-child(3) {
	text-align: right;
}
